doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    Title Login FenixAlive
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    link(rel="stylesheet" href="/public/css/estilos.css")
  body
    div.container
      div.row
        block content
