extends ./layout.jade
block content
  br
  div.col-md-4
    br
    h2 Por favor, ingresa tus datos para continuar
  div.col-md-4
    br
    br
    form(action="/users", method="POST")
      div.form-group
        label(for="username") Nombre de usuario
        input.form-control#username(type="text" name="username" placeholder=" Nombre de usuario ")
      div.form-group
        label(for="email") Email
        input.form-control#email(type="email" name="email" placeholder=" Email ")
      div.form-group
        label(for="password") Contrase単a
        input.form-control#password(type="password" name="password" placeholder=" Contrase単a ")
      div.form-group
        label(for="confirmarpassword") Confirma tu Contrase単a
        input.form-control#confirmarpassword(type="password" name="confirmarpassword" placeholder=" Confirmar Contrase単a ")
        div
        br
        br
        br
        input.btn.btn-info(type="submit" value="Registrarme")
        br
        br
        a(href="/login" class="btn btn-primary") Ya tengo cuenta
        br
  div.col-md-4.text-center
        br
