html, body{
  width:100%;
  background: url("../img/wall.png");
  /*background-size: cover;*/
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: repeat;
  text-shadow: 5px 5px 5px #fff;
}
a{text-shadow: none;}
